version: 2
general:
  branches:
    only:
      - Test-automation-builds
jobs:
  build:
    docker:
      - image: spotify/alpine

    steps:
      - run:
          name: Trigger the Build Job
          command: |
            printf "Triggering an "sfcc-cd-project" build on the Test-automation-builds branch\n\n"

            BUILD_INFO=$(curl -X POST -H -d \
                "{}" \
                "https://circleci.com/api/v1/project/dhanu0001/sfcc-cd-project-A/tree/Test-automation-builds?circle-token=782ddf3c2db60b7ed64ac50489a16970899542c0")

            printf "\n\nBuild triggered\n\n"
            printf "Follow the progress of the build on \nhttps://circleci.com/gh/dhanu0001/sfcc-cd-project-A/tree/Test-automation-builds"
